In [2]:
import pandas as pd
from fuzzywuzzy import fuzz

In [3]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [5]:
df = pd.read_csv('D:/pydp-19/ml-latest-small/keywords.csv')

In [13]:
fuzz.ratio('тула', 'полоска')

36

In [8]:
def geo_classifier(keyword):
    request = keyword.split(' ')
    for word in request:
        for key, val in geo_data.items():
            for i in val: 
                if fuzz.ratio(word, i) > 75:
                    return key
    return 'Undefined'

In [9]:
df['region'] = df['keyword'].apply(geo_classifier)

In [10]:
df[df.keyword.str.contains('тула')].head(10)

                                 keyword   shows region
1579                          авито тула  126168  Центр
11785                               тула   23898  Центр
11795                      гисметео тула   23970  Центр
14823                   моя реклама тула   20375  Центр
17574                       арсенал тула   17331  Центр
19783  доктор 71 электронная запись тула   15749  Центр
20821                       слобода тула   15037  Центр
22765                        погода тула   17374  Центр
23272                      киносити тула   13777  Центр
23871                  леруа мерлен тула   13931  Центр